<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="Shrimpbird" />
  <!-- Facebook Marketing -->
  <meta property="og:site_name" content="Shrimbird Cage" />
  <meta property="og:title" content="Nicolas Cage Did Movies" />
  <meta property="og:description" content="Interactively search for Nicolas Cage films." />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
    
  <script src="create_query.js"></script>
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="button.css" />

</head>
<body>
  <div id="wrapper">
  <div id="main">
    <header class="pad center">
      <div class="lead-wrap">
	<div class="lead">
	  <div id="head">
	    <h1 id="nic-cage" class="big pacifico">Nicolas Cage</h1>
	  </div>
	  <div id="sub">
	    <p class="exist-stenc pad-light"> 
	      A man of many movies.
	    </p>
	    <!--
	    <p class="exist-stenc pad-light">
	      Finally, you can search them.
	    </p>
	    -->
	  </div> 
	</div> <!-- /.lead -->
      </div> <!-- /.lead-wrap -->
    </header>
    <div class="search-container">
      <input id="search-query" type="search" name="s" placeholder="Search by title, year, director, etc." /><button id="search-button" onclick="window.location = submit_search();">Search</button>
    </div> <!-- /.search-container -->

    <div class="filter-container">
      <div class="filters-lead">
	<p class="exist less-big pad center">
	  Select filters to narrow your search.
	</p>
	<p class="exist eg pad-light center"> (E.g., Selecting both "Comedy" and "Action" will find all Action movies and all Comedy movies.)</p>
      </div>
      <div class="filters">
	<!-- Missing Biography, Sport, ... -->
	<div class="filter">
	  <div class="filter-cat" onclick="console.log('voila')">
	    <div class="outer">
	      <div class="inner">
		Genre
	      </div>
	    </div>
	  </div>
	  <div class="filter-select">
	  <ul class="floaty-list" id="genre">
	    <li class="filter-cat-all">
	      <button class="btn btn-primary highlight" onclick="select_field(this);">All</button>
	    </li>
	    <li>
	      <button class="btn btn-primary" onclick="select_field(this);">Action</button>
	    </li>
	    <li>
	      <button class="btn btn-primary" onclick="select_field(this);">Comedy</button>
	    </li>
	    <li>
	      <button class="btn btn-primary" onclick="select_field(this);">Crime</button>
	    </li>
	    <li>
	      <button class="btn btn-primary" onclick="select_field(this);">Drama</button>
	    </li>
	    <li>
	      <button class="btn btn-primary" onclick="select_field(this);">Fantasy</button>
	    </li>
	    <li>
	      <button class="btn btn-primary" onclick="select_field(this);">Thriller</button>
	    </li>
	  </ul> <!-- /#genre -->
	  </div> <!-- /.filter-select -->
	</div> <!-- /.filter -->
	<div class="filter">
	  <div class="filter-cat">
	    <div class="outer">
	      <div class="inner">
		IMDb Score
	      </div>
	    </div>
	  </div>
	  <div class="filter-select">
	    <ul class="floaty-list" id="imdb">
	      <li class="filter-cat-all">
		<button class="btn btn-primary highlight" onclick="select_field(this);">All</button>
	      </li>
	      <li>
		<button class="btn btn-primary" onclick="select_field(this);">0-5</button>
	      </li>
	      <li>
		<button class="btn btn-primary" onclick="select_field(this);">5-6</button>
	      </li>
	      <li>
		<button class="btn btn-primary" onclick="select_field(this);">6-7</button>
	      </li>
	      <li>
		<button class="btn btn-primary" onclick="select_field(this);">7-8</button>
	      </li>
	      <li>
		<button class="btn btn-primary" onclick="select_field(this);">8-10</button>
	      </li>
	    </ul> <!-- /#imdb -->
	  </div> <!-- /.filter-select -->
	</div> <!-- /.filter -->
	<div class="filter">
	  <div class="filter-cat">
	    <div class="outer">
	      <div class="inner">
		Rating
	      </div>
	    </div>
	  </div>
	  <div class="filter-select">
	    <ul class="floaty-list" id="rating">
	      <li class="filter-cat-all">
		<button class="btn btn-primary highlight" onclick="select_field(this);">All</button>
	      </li>
	      <li>
		<button class="btn btn-primary" onclick="select_field(this);">G</button>
	      </li>
	      <li>
		<button class="btn btn-primary" onclick="select_field(this);">PG</button>
	      </li>
	      <li>
		<button class="btn btn-primary" onclick="select_field(this);">PG-13</button>
	      </li>
	      <li>
		<button class="btn btn-primary" onclick="select_field(this);">R</button>
	      </li>
	    </ul> <!-- /#rating --> 
	  </div> <!-- /.filter-select -->
	</div> <!-- /.filter -->
      </div> <!-- /.filters -->
    </div> <!-- /.filter-container -->
    <!-- OLD SEPARATOR 
	 ==============>
    <div class="sep">
      <hr class="" />
    </div>
    -->
    <!-- TEST BUTTON
	 ============ >
	 <button class="btn btn-primary" onclick="window.location = submit_search();">Tester</button>
	 -->
    <div id="push"></div> <!-- for the sticky footer -->
  </div> <!-- /#main -->
  <div id="footer">
    <ul class="floaty-list">
      <li>
	  <a href="http://orchestrate.io">
	    <img src="http://d2kke625l9ja1k.cloudfront.net/v1/img/orchestrate.gif" 
		 width="50" height="50" />
	  </a>
	  <!-- <span class="small">Powered By Orchestrate</span> -->
      </li>
      <li>
	<a href="http://github.com/">
	  <img src="./icons/GitHub-Mark-Light-32px.png" />
	</a>
      </li>
      <li>
	<a href="http://golang.org/">
	  <img src="./icons/gopher-blue-small.png" />
	</a>
      </li>
      <li>
	<div class="block">
	  <span class="exist small">
	    Data obtained from IMDb via the
	    <a href="http://omdbapi.com/">OMDb API</a>
	  </span>
	</div>
      </li>
    </ul>
  </div>
  </div> <!-- /#wrapper -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="jquery.fittext.js"></script>
  <script>

    /********************************
    * Use FitText.js (available on GitHub)
    *   - Responsive: scales text with window size
    *   - Customizable: takes two arguments, explained below
    * 
    *           () the compressor, type: float, optional
    *
    *                            "works like a guitar amp"
    *                             determines how aggressively to scale
    *                             1 is default
    *
    *           () minFontSize & maxFontStize, type: dict, optional
    *
    *                            pretty self explanatory
    *                            the keys take pixel values
    *****************************/
    jQuery("#nic-cage").fitText(.7, {minFontSize: '40px', maxFontSize: '330px'});
  </script>
</body>
</html>
<!--
	  "There's a two day course called 'Nicolas Cage: Good or Bad?'.
	  I'm signing up. I've always wanted to know.
	  Nicolas Cage is one of pop culture's greatest mysteries."
	  "Hmm, there's a course on Nicolas Cage, but if you mention Jesus to your science teacher you get a written warning."
	  "Well, Jesus wasn't in 70 movies."

	    "I am not a demon. 
	    I am a lizard, a shark, a heat-seeking panther. 
	    I want to be Bob Denver on acid playing the accordion."

-->
